

navbar {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 0px;
}

body{
	align-content: center;
	background: url('cloud_computing steelas edited by anik.jpg') no-repeat;
	background-size: cover;
	font-family: 'Arsenal Regular';
	color: black;
}
ul{
	align-content: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li{
	float: left;
	width: 211.3px;
	height: 40px;
	background-color: black;
	opacity: .5;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}


ul li ul li{
	float: left;
	width: 300px;
	height: 40px;
	background-color: black;
	opacity: .6;
	line-height: 40px;
	text-align: left;
	font-size: 20px;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover{
	background-color: cadetblue;
}

ul li ul li{
	
	display: none;
}

ul li:hover ul li{
	
	display: block;
}