@charset "utf-8";
/* CSS Document */


body{
	margin: 0 auto;
	font-family: 'Arsenal Regular',sans-serif;
	font-size: 20px;
	line-height: 2;
	width: 600px;
	
}

main {
	width: 680px;
	overflow: hidden;
	float: left;
	min-height: 700px;
}

sidebar { 
	width: 400px;
	float: left;
	overflow: hidden;
	min-height: 700px;
}
p{
	padding: 100px;


}
h1{
	padding: 50px;
}

/*------- Footer ------------*/
footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
	list-style: none;
	
}
li a{
	text-decoration: none;
	color: white;
}
