@charset "utf-8";
/* CSS Document */
p {

	padding: 50px;
	font-family: 'Arsenal Regular',sans-serif;
	color: black;
	align-content: center;
}
body {
	font-family: "Arsenal Regular";
	font-size: 20px;
	padding: 0px 100px;
	padding-left: 80px;
	padding-right: 80px;
	color: black;
	

}









