h1{
	padding: 70px;
}
body {	
	width: 400px;
	overflow:hidden;
	margin-right: 100px;
	margin-left:100px;
}

header {
	width: 700px;
	height: 300px;
	float: left;
	margin-bottom:20px;
}

nav {
	width: 960px;
	height: 60px;
	float: left;
	margin-bottom: 20px;
}

main {
	width: 400px;
	overflow: hidden;
	float: left;
	min-height: 700px;
}

sidebar { 
	width: 400px;
	float: left;
	overflow: hidden;
	min-height: 700px;
}

footer {
	width: 960px;
	height: 100px;
	float:left;
	clear:both;
	margin-top: 20px;
}
