@charset "utf-8";
@import url("file:///D|/uses2.css");
/* CSS Document */
body{
	margin: 0;
	font-family: 'Arsenal Regular';
	font-size: 20px;
	line-height: 1.6;
	
}

#h1 {
	color: #FFFFFF;
}


#showcase{
	background-image:url("ACTUAL CLOUD BACKGROUND THE END.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: inline-grid;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 100px;
	
}
#showcase h1{
	font-size: 50px;
}

#showcase p{
	font-size: 20px;
	color: white; 
}


#showcase .button{

    border:#FFFFFF 1px solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 10px;
	margin: 20px;
	

	
}
#showcase .button:hover{
	background:#FFFFFF;
	color: #000000;
	
	
	
}
#section-a{
	padding: 20px;
	background:#295D9B;
	color: white;
	text-align: center;
}

#section-b{
	padding: 20px;
	background:#DCDCDC;
	color: #295D9B;
	text-align: center;
}

#section-c{
	display: flex;
	
	
	
}

#section-c div{
	padding: 200px 200px;
}



#section-c .box-1, #section-c .box-3{
	background: #295D9B;
	color: white;
}

#section-c .box-2{
	background: #f9f9f9;
	color: #295D9B;
}

#section-c .box-1{
	background-image:url("cloud 6.jpg");
	background-size: cover;
	width: 33%;
	
	
}

#section-c .box-2{
	background-image:url("TSA/STPA/Pictures used in website/random clouds.jpg");
	background-size: cover;
	width: 33%;
	height: 90%
}

#section-c .box-3{
	background-image:url("cloud buildings.jpg");
	background-size: cover;
	width: 33%;
}

/*------- Footer ------------*/

footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
	
}
