@charset "utf-8";
/* CSS Document */


body {
	font-family: "Arsenal Regular",sans-serif;
	font-size: 20px;
	padding: 0px;
	line-height: 2;
}

/*------Meet the Team------*/

#section-b{
	padding: 20px;
	background:#DCDCDC;
	color: black;
	text-align: center;
}

/*------Bios------*/

#section-c{
	display: flex;
	text-align: center;
	
	
}

/*-----Contains all the boxes inside------*/

#section-c div{
	padding: 200px 200px;
}


/*------Boxes color scheme-----*/

#section-c .box-1, #section-c .box-3{
	background: #295D9B;
	color: black;
}

#section-c .box-2{
	background: #f9f9f9;
	color: #295D9B;
}

/*----The actual photos and sizing of them------*/

#section-c .box-1{
	background-image:url("../Pictures used in website/HANNAH-TEAMPROFILE.jpg");
	background-size: cover;
	width: 33%;
	height: 250px;
	
	
}

#section-c .box-2{
	background-image:url("../Pictures used in website/STELLA-TEAMPROFILE.jpg");
	background-size:cover;
	width: 33%;
	height: 250px;

}

#section-c .box-3{
	background-image:url("../Pictures used in website/ANIK-TEAMPROFILE.jpg");
	background-size: cover;
	width: 33%;
	height: 250px;
}

/*------- Footer ------------*/

 footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
	list-style: none;
	 text-decoration: none;
	 
}

li a{
	text-decoration: none;
	color: white;
}
